@charset "UTF-8";

body {
  background: url("/assets/images/page-marblebg.png") no-repeat;
  background-position: center;
  background-repeat: repeat;
  background-size: 100%;
}

 {
  padding-top: 45px;
}

>header {
  background: white;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 200;
  display: flex;
  padding: 12px 18px;
  text-align: center;
}

>header.black {
  background: linear-gradient(to bottom, #2b2b2f, #36363b);
}

>header.black .title {
  color: #ffffff;
}

>header.transparent {
  background: transparent;
}

>header.transparent .title {
  color: #ffffff;
}

>header img {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 18px;
  top: 12px;
}

>header .title {
  font-size: 20px;
  font-weight: normal;
  margin: 0 auto;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: #111111;
}

 .calc {
  margin-top: 24px;
  margin-bottom: 24px;
  width: calc(100% - 32px);
  color: #fee1b7;
  padding: 16px;
  display: inline-block;
  background: url("/assets/images/bg_11.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  position: relative;
}

 .calc p {
  float: left;
  line-height: 1.3;
  font-weight: bold;
}

 .calc img {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translate(0, -50%);
}

 .myLoad {
  padding: 0 16px;
}

 .myLoad ul {
  padding-top: 16px;
  padding-bottom: 20px;
}

 .myLoad li {
  margin-bottom: 12px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
  padding: 16px;
  text-align: left;
}

 .myLoad li .W100 {
  margin-top: 24px;
  margin-bottom: 16px;
  position: relative;
}

 .myLoad li .dashboard_item {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}

 .myLoad li .status {
  padding: 8px;
  border-radius: 4px;
  background-color: #fdf4ea;
  font-size: 14px;
  line-height: 1.5;
}

 .myLoad li .status.normal {
  color: #8a5a48;
}

 .myLoad li .status.error {
  color: #ff6767;
  background-color: #ffe8e8;
}

 .kv {
  height: 176px;
  background: url("/assets/images/bg_load.jpg") no-repeat;
  background-position: center bottom;
  background-repeat: repeat;
  background-size: 100%;
  padding: 23px 16px;
}

 .kv h4 {
  color: #fee1b7;
  padding-bottom: 4px;
  line-height: 1.5;
}

 .kv p {
  line-height: 1.3;
  letter-spacing: 1.5px;
}

 .swiper-container {
  margin-top: -45px;
  padding-bottom: 30px;
}

 .swiper-slide .bg_white {
  padding: 32px 16px 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
}

 .swiper-slide .bg_white>p.f14 {
  margin-top: 8px;
  margin-bottom: 16px;
  font-weight: bold;
}

 .swiper-slide .bg_white>img {
  width: 64px;
}

 .result {
  border-top: 1px solid #e3e3e3;
  padding: 16px 0 0;
}

 .result p {
  line-height: 1.5;
}

 .result h6 {
  padding: 8px 0 12px;
}

 .result h5 {
  padding: 32px 0;
  line-height: 1.5;
  font-weight: bold;
}

 .result a {
  color: #784f1d;
  max-width: 215px;
}

 .Loan-nav {
  display: flex;
}

 .Loan-nav li {
  margin-top: 24px;
  flex: 1;
  padding-bottom: 7px;
  border-bottom: 1px #e3e3e3 solid;
  color: #818181;
}

 .Loan-nav li a {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

 .Loan-nav li.active {
  font-weight: bold;
  color: #c38b47;
  border-bottom: 2px #c38b47 solid;
}

 .Loan-wrap {
  margin-top: 24px;
  padding: 0 16px;
}

 .Loan-wrap ul {
  padding-bottom: 20px;
}

 .Loan-wrap li {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
  margin-bottom: 24px;
  text-align: center;
}

 .loan_item {
  padding: 16px 16px 0;
  position: relative;
}

 .loan_item.card {
  padding: 16px;
}

 .loan_item-tag {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: linear-gradient(283deg, #1D1F28 6.17%, #44464A 112.25%);
  color: #fed28f;
  font-size: 12px;
  font-weight: bold;
  padding: 6px;
  position: absolute;
  top: 0;
  left: 16px;
}

 .loan_item-sub {
  color: #818181;
  font-size: 12px;
  margin-top: 14px;
}

 .loan_item-sum {
  color: #c38b47;
  font-size: 36px;
  font-weight: bold;
  line-height: 32px;
  margin: 10px 0;
}

 .loan_title {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 0;
}

 .loan_title .icon {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  background: url("/assets/images/icon/28-gold.svg") no-repeat;
  background-size: 100% 100%;
}

 .loan_title.mortgage .icon {
  background-image: url("/assets/images/icon/29-gold.svg");
}

 .loan_title.car .icon {
  background-image: url("/assets/images/icon/30-gold.svg");
}

 .loan_title .text {
  width: calc(100% - 30px);
  padding-right: 74px;
}

 .loan_title .text h3 {
  color: #111111;
  font-weight: bold;
  line-height: 1.5;
}

 .loan_title .text a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  color: #6b382f;
  font-size: 14px;
  border-radius: 14px;
  background-color: #fdd8c0;
  padding: 7px 8px;
  text-decoration: none;
}

 .loan_title .text a.hide {
  display: none;
}

 .loan_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

 .loan_info.start {
  width: 100%;
  display: inline-block;
}

 .loan_info.start>div {
  display: inline-block;
}

 .loan_info.start>div:first-child {
  width: 88px;
}

 .loan_info--Inrate {
  color: #c38b47;
  font-size: 28px;
  font-weight: bold;
  line-height: 31px;
}

 .loan_info .amount {
  margin-left: 4px;
  color: #c38b47;
}

 .payment-msg.hide {
  display: none;
}

 .loan_inner {
  display: none;
  margin: 8px 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}

 .loan_inner--fackbg {
  min-height: 114px;
  padding: 16px 0 14px;
  background-size: 100% 114px;
  background-image: url("/assets/images/loan/loan-bg.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

 .loan_btn {
  width: 100%;
  background-color: #3d3d3d;
  padding: 6px 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  font-size: 12px;
  color: #e3e3e3;
  text-decoration: none;
}

 .loan_btn a {
  display: inline-block;
  color: #e3e3e3;
  text-decoration: none;
}

 .loan_btn .arrow {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
}

 .loan_btn--action {
  text-align: left;
  font-size: 14px;
  padding: 8px 16px;
}

 .loan_btn--action .arrow {
  width: 20px;
  margin-left: auto;
  transform: rotate(180deg);
}

 .loan_action {
  border-radius: 20px;
  background-color: #fdd8c0;
  color: #6b382f;
  display: block;
  font-size: 18px;
  width: 120px;
  margin: 16px auto 0;
  padding: 9px 8px;
  text-align: center;
  text-decoration: none;
}

 .loan_action.xs {
  margin-bottom: 6px;
}

 .loan_bn {
  padding: 16px;
  min-height: 94px;
  margin: 0 0 16px;
  border-radius: 3px;
  background-color: #19191b;
  text-align: left;
  position: relative;
}

 .loan_bn--icon {
  width: 35%;
  height: 94px;
  background-size: 100%;
  background-image: url("/assets/images/loan/loan-kv.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

 .loan_bn--msg {
  max-width: 171px;
  float: right;
  position: relative;
  z-index: 1;
}

 .loan_bn--msg h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #fee1b7;
  flex: auto;
}

 .loan_bn--msg p {
  margin-top: 6px;
  font-size: 12px;
  color: #ffffff;
  line-height: 1.4;
}

 .loan_result {
  text-align: center;
}

 .loan_result--pay {
  color: #c38b47;
  font-size: 28px;
  line-height: 1.2;
  font-weight: bold;
  margin: 4px auto 16px;
}

 .form-group {
  position: relative;
  padding-bottom: 3.3em;
}

 .form-group.xl {
  margin-bottom: 3rem;
}

 .form-group.mt16 {
  margin-top: 16px;
}

 .form-group .unit {
  position: absolute;
  top: 5px;
  right: 6px;
}

 .form-label {
  font-weight: bold;
  display: block;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
}

 .form-control {
  width: 78px;
  height: 34px;
  padding: 5px 6px;
  padding-right: 26px;
  background-color: #ffffff;
  font-size: 1rem;
  line-height: 1.5;
  text-align: right;
  display: block;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  transition: border 0.3s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  caret-color: #c38b47;
}

 .form-control:focus {
  outline: none;
  border: 1px solid #c38b47;
}

 .lb {
  width: 100%;
  background-color: #f9f9f9;
  bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 16px;
  text-align: left;
  transform: translate(0, 105%);
  -webkit-transform: translate(0, 105%);
  -moz-transform: translate(0, 105%);
  -ms-transform: translate(0, 105%);
  -o-transform: translate(0, 105%);
}

 .lb .head {
  display: inline-block;
  width: 100%;
  line-height: 30px;
  margin-bottom: 24px;
  vertical-align: top;
}

 .lb .head h5 {
  float: left;
}

 .lb .head a {
  float: right;
  text-decoration: none;
}

 .lb .loan_notice {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 32px;
  max-height: 50vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

 .lb .decimal,
 .lb .disc {
  margin: 0;
  padding: 0;
  margin-left: 1.34em;
}

 .lb .decimal li:not(:last-child),
 .lb .disc li:not(:last-child) {
  margin-bottom: 8px;
}

 .lb .decimal>li {
  list-style: decimal;
}

 .lb .disc>li {
  position: relative;
}

 .lb .disc>li:before {
  content: '・';
  position: absolute;
  left: -1.34em;
}

 .lb .disc>li:first-child {
  margin-top: 8px;
}

 .lb_wrapper.show .lb {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}

 .noUi-horizontal {
  height: 4px;
}

 .noUi-target {
  padding: 0 4px;
  border: 0;
  border-radius: 0;
  box-shadow: initial;
}

 .noUi-connects {
  border-radius: 0;
}

 .noUi-connect {
  background: linear-gradient(100deg, #c29557 0%, #dda85d 30%, #ffe4bc 100%);
}

.noUi-horizontal .noUi-handle {
  width: 10px;
  height: 10px;
  background-color: #fed28f;
  border-radius: 50%;
  border: 0;
  box-shadow: initial;
  top: -4px;
  right: -6px;
}

 .noUi-handle::before,
 .noUi-handle::after {
  content: none;
}

 .noUi-handle.noUi-active {
  box-shadow: 0px 0px 0px 4px rgba(254, 210, 143, 0.3);
}

 [data-Bar*='year'] .noUi-value::after {
  content: '年';
}

 .noUi-value {
  position: unset;
  font-size: 14px;
  line-height: 21px;
  color: #818181;
}

 .noUi-value::after {
  content: '萬';
}

 .noUi-value-horizontal {
  transform: unset;
}

 .noUi-marker {
  display: none;
}

 .noUi-pips-horizontal {
  padding: 0;
  height: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

 .noUi-tooltip {
  transform: translate(-50%, 50%);
  bottom: -200%;
  width: 56px;
  min-height: 24px;
  padding: 6px 8px;
  font-size: 14px;
  font-weight: bold;
  color: #8a5a48;
  background: #f9f4ed;
  border: 0;
  border-radius: 4px;
}

 .noUi-tooltip {
  display: none;
}

 .noUi-active .noUi-tooltip {
  display: block;
}
