  .wrap {
    border: 1px solid blue;
    padding: 20px;
    margin: 20px;
  }

  b {
    font-size: 50px;
  }

  input {
    width: 100px;
    border: none;
    border-bottom: 2px solid #ed7924;
    margin: 0 20px;
  }

  .bar {
    margin: 60px auto;
    width: 300px;
  }

  @media (max-width: 768px) {
    .bar {
      margin: 7.8125vw auto;
      width: 100%;
    }
  }

  button {
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: rgba(146, 146, 146, 0.363);
    color: cornflowerblue;
    font-size: 1.2rem;
    width: 40px;
  }

  .button_left {
    margin-left: calc(90% - 40px);
  }

  @media (max-width: 768px) {
    .button_left {
      margin-left: 5%;
    }
  }

  .noUi-tooltip {
    display: none;
  }

  .noUi-active .noUi-tooltip {
    display: block;
  }

  .noUi-horizontal .noUi-handle{
    width: 30px;
    height: 30px;

  }
  .noUi-handle {
    border: 1px solid #226ffd;
    border-radius: 50%;
    background: rgb(62, 162, 255);
    cursor: default;
  }


.noUi-handle:before,
.noUi-handle:after {
    content: none;
}
