@charset "UTF-8";
body {
  background: url("/assets/images/page-marblebg.png") no-repeat;
  background-position: center;
  background-repeat: repeat;
  background-size: 100%;
}

#appLoan {
  padding-top: 45px;
}

#appLoan > header {
  background: white;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 200;
  display: flex;
  padding: 12px 18px;
  text-align: center;
}

#appLoan > header.black {
  background: linear-gradient(to bottom, #2b2b2f, #36363b);
}

#appLoan > header.black .title {
  color: #ffffff;
}

#appLoan > header.transparent {
  background: transparent;
}

#appLoan > header.transparent .title {
  color: #ffffff;
}

#appLoan > header img {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 18px;
  top: 12px;
}

#appLoan > header .title {
  font-size: 20px;
  font-weight: normal;
  margin: 0 auto;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: #111111;
}

#appLoan .swiper-slide {
  padding: 0 16px 8px;
}

#appLoan .Loan-nav {
  display: flex;
}

#appLoan .Loan-nav li {
  margin-top: 24px;
  flex: 1;
  padding-bottom: 7px;
  border-bottom: 1px #e3e3e3 solid;
  color: #818181;
}

#appLoan .Loan-nav li a {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  text-decoration: none;
  display: block;
  color: #818181;
}

#appLoan .Loan-nav li.active {
  border-bottom: 2px #c38b47 solid;
}

#appLoan .Loan-nav li.active a {
  font-weight: bold;
  color: #c38b47;
}

#appLoan .Loan-wrap {
  margin-top: 24px;
  padding: 0 16px;
}

#appLoan .Loan-wrap ul {
  padding-bottom: 20px;
}

#appLoan .Loan-wrap li {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
  margin-bottom: 24px;
  text-align: center;
}

#appLoan .loan_item {
  padding: 16px 16px 0;
  position: relative;
}

#appLoan .loan_item.pd16 {
  padding: 16px;
}

#appLoan .loan_title {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 0;
}

#appLoan .loan_title .icon {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  background: url("/assets/images/icon/28-gold.svg") no-repeat;
  background-size: 100% 100%;
}

#appLoan .loan_title.mortgage .icon {
  background-image: url("/assets/images/icon/29-gold.svg");
}

#appLoan .loan_title.car .icon {
  background-image: url("/assets/images/icon/30-gold.svg");
}

#appLoan .loan_title .text {
  width: calc(100% - 30px);
  padding-right: 74px;
}

#appLoan .loan_title .text h3 {
  color: #111111;
  font-weight: bold;
  line-height: 1.5;
}

#appLoan .loan_title .text a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  color: #6b382f;
  font-size: 14px;
  border-radius: 14px;
  background-color: #fdd8c0;
  padding: 7px 8px;
  text-decoration: none;
}

#appLoan .loan_title .text a.hide {
  display: none;
}

#appLoan .loan_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

#appLoan .loan_info.start {
  width: 100%;
  display: inline-block;
}

#appLoan .loan_info.start > div {
  display: inline-block;
}

#appLoan .loan_info.start > div:first-child {
  width: 88px;
  flex-shrink: 0;
}

#appLoan .loan_info--Inrate {
  color: #c38b47;
  font-size: 28px;
  font-weight: bold;
  line-height: 31px;
}

#appLoan .loan_info-cash {
  margin: 0 2px;
}

#appLoan .loan_info .amount {
  margin-left: 4px;
  color: #c38b47;
}

#appLoan .card-tag {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: linear-gradient(283deg, #1D1F28 6.17%, #44464A 112.25%);
  color: #fed28f;
  font-size: 12px;
  font-weight: bold;
  padding: 6px;
  position: absolute;
  top: 0;
  left: 16px;
}

#appLoan .card-title {
  margin-top: 16px;
}

#appLoan .card-title--gray {
  font-size: 12px;
  color: #818181;
}

#appLoan .card-title--block {
  color: #111111;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

#appLoan .card-sum {
  color: #c38b47;
  font-weight: bold;
  line-height: 32px;
  margin: 10px 0;
}

#appLoan .card-sum.f36 {
  font-size: 36px;
}

#appLoan .card-sum.f32 {
  font-size: 32px;
}

#appLoan .card-sum.f28 {
  font-size: 28px;
  margin: 6px 0;
}

#appLoan .card-hr {
  margin: 13px 0;
  width: 100%;
  height: 1px;
  border: 0;
  border-bottom: 1px solid #e3e3e3;
}

#appLoan .card-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#appLoan .card-info > div {
  flex: auto;
  width: calc(100% / 3);
}

#appLoan .card-info > div p:first-child {
  font-size: 12px;
}

#appLoan .payment-msg.hide {
  display: none;
}

#appLoan .loan_inner {
  display: none;
  margin: 8px 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#appLoan .loan_inner--fackbg {
  height: 114px;
  background-size: 100% 114px;
  background-image: url("/app/images/loan-bg.svg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.animated-item {
  width: 100%;
}
.ani{
  animation: rubber 1s linear 3;
}
@keyframes rubber {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

#appLoan .loan_btn {
  width: 100%;
  background-color: #3d3d3d;
  padding: 6px 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  font-size: 12px;
  color: #e3e3e3;
  text-decoration: none;
}

#appLoan .loan_btn a {
  display: inline-block;
  color: #e3e3e3;
  text-decoration: none;
}

#appLoan .loan_btn .arrow {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
}

#appLoan .loan_btn--action {
  text-align: left;
  font-size: 14px;
  padding: 8px 16px;
}

#appLoan .loan_btn--action .arrow {
  width: 20px;
  margin-left: auto;
  transform: rotate(180deg);
}

#appLoan .loan_action {
  border-radius: 20px;
  background-color: #fdd8c0;
  color: #6b382f;
  display: block;
  font-size: 18px;
  width: 120px;
  margin: 16px auto 0;
  padding: 9px 8px;
  text-align: center;
  text-decoration: none;
}

#appLoan .loan_action.xs {
  margin-bottom: 6px;
}

#appLoan .loan_action.mgauto {
  margin: 0 auto;
}

#appLoan .loan_bn {
  padding: 0 16px 0 0;
  margin: 0 0 16px;
  border-radius: 3px;
  background-color: #19191b;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

#appLoan .loan_bn--icon {
  width: 140px;
  height: 94px;
  background-image: url("/assets/images/loan/loan-kv.png");
  background-repeat: no-repeat;
  background-position: center;
}

#appLoan .loan_bn--msg {
  max-width: 171px;
  width: 84%;
}

#appLoan .loan_bn--msg h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #fee1b7;
}

#appLoan .loan_bn--msg p {
  margin-top: 6px;
  font-size: 12px;
  color: #ffffff;
  line-height: 1.4;
}

#appLoan .loan_bn--msg p.point {
  color: #fee1b7;
  font-size: 24px;
  font-weight: bold;
}

#appLoan .loan_bn--msg p.point > b {
  display: inline-block;
  color: #111111;
  font-size: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  padding: 1px 3px 1px 5px;
  margin-right: 4px;
  margin-bottom: 3px;
  background-color: #fee1b7;
  vertical-align: middle;
}

#appLoan .loan_bn--msg p.mt0 {
  margin-top: 0;
}

#appLoan .loan_result {
  text-align: center;
}

#appLoan .loan_result--pay {
  color: #c38b47;
  font-size: 28px;
  line-height: 1.2;
  font-weight: bold;
  margin: 4px auto 16px;
}

#appLoan .form-group {
  position: relative;
  padding-bottom: 3.3em;
}

#appLoan .form-group.xl {
  margin-bottom: 3rem;
}

#appLoan .form-group.mt16 {
  margin-top: 16px;
}

#appLoan .form-group .unit {
  position: absolute;
  top: 5px;
  right: 6px;
}

#appLoan .form-label {
  font-weight: bold;
  display: block;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
}

#appLoan .form-control {
  width: 78px;
  height: 34px;
  padding: 5px 6px;
  padding-right: 26px;
  background-color: #ffffff;
  font-size: 1rem;
  line-height: 1.5;
  text-align: right;
  display: block;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  transition: border 0.3s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  caret-color: #c38b47;
}

#appLoan .form-control:focus {
  outline: none;
  border: 1px solid #c38b47;
}

#appLoan .lb {
  width: 100%;
  background-color: #f9f9f9;
  bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 16px;
  text-align: left;
  transform: translate(0, 105%);
  -webkit-transform: translate(0, 105%);
  -moz-transform: translate(0, 105%);
  -ms-transform: translate(0, 105%);
  -o-transform: translate(0, 105%);
}

#appLoan .lb .head {
  display: inline-block;
  width: 100%;
  line-height: 30px;
  margin-bottom: 24px;
  vertical-align: top;
}

#appLoan .lb .head h5 {
  float: left;
}

#appLoan .lb .head a {
  float: right;
  text-decoration: none;
}

#appLoan .lb .loan_notice {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 32px;
  max-height: 50vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#appLoan .lb .decimal,
#appLoan .lb .disc {
  margin: 0;
  padding: 0;
  margin-left: 1.34em;
}

#appLoan .lb .decimal li:not(:last-child),
#appLoan .lb .disc li:not(:last-child) {
  margin-bottom: 8px;
}

#appLoan .lb .decimal > li {
  list-style: decimal;
}

#appLoan .lb .disc > li {
  position: relative;
}

#appLoan .lb .disc > li:before {
  content: '・';
  position: absolute;
  left: -1.34em;
}

#appLoan .lb .disc > li:first-child {
  margin-top: 8px;
}

#appLoan .lb_wrapper.show .lb {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}

#appLoan .noUi-horizontal {
  height: 4px;
}

#appLoan .noUi-target {
  border: 0;
  border-radius: 0;
  box-shadow: initial;
  padding: 0 5px;
  background: #e3e3e388;
}

#appLoan .noUi-connects {
  border-radius: 0;
  margin: 0 -5px;
  width: calc(100% + 10px);
  background: #e3e3e388;
}

#appLoan .noUi-connect {
  background: linear-gradient(100deg, #c29557 0%, #dda85d 30%, #ffe4bc 100%);
}

#appLoan .noUi-handle {
  width: 10px;
  height: 10px;
  background-color: #fed28f;
  border-radius: 50%;
  border: 0;
  box-shadow: initial;
  top: -4px;
  right: -5px;
}

#appLoan .noUi-handle::before, #appLoan .noUi-handle::after {
  content: none;
}

#appLoan .noUi-handle.noUi-active {
  box-shadow: 0px 0px 0px 4px rgba(254, 210, 143, 0.3);
}

#appLoan .noUi-value {
  position: unset;
  font-size: 14px;
  line-height: 21px;
  color: #818181;
}

#appLoan .noUi-value::after {
  content: '萬';
}

#appLoan [data-Bar*='year'] .noUi-value::after {
  content: '年';
}

#appLoan .noUi-value-horizontal {
  transform: unset;
}

#appLoan .noUi-marker {
  display: none;
}

#appLoan .noUi-pips-horizontal {
  padding: 0;
  height: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#appLoan .noUi-tooltip {
  transform: translate(-50%, 50%);
  bottom: -200%;
  width: 56px;
  height: 24px;
  padding: 6px 8px;
  font-size: 14px;
  font-weight: bold;
  color: #8a5a48;
  background: #f9f4ed;
  border: 0;
  border-radius: 4px;
  transition: all 0.3s;
  display: none;
}

#appLoan .noUi-active .noUi-tooltip {
  display: block;
}

